.main_board{
    width: 800px;
    height: 800px;
    background: rgb(245, 215, 215);
    margin:0 auto;
}
.black_div{
    width: 100px;
    height: 100px;
    background: black;
    float:left

}
.white_div{
    width: 100px;
    height: 100px;
    background: white;
}
.queen_black{
    width: 80px;
    height: 80px;
    text-align: center;
}
.pink{
    background-color: pink;
}
.grey{
    opacity: 0.7;
}